/* font smoothing */
html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* body spacing/background */
body {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* header spacing */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.8em;
}
.page-header {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.jumbotron {
    margin-top: 30px;
}
.jumbotron h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

/* anchor links */
h2, h3, h4, h5, h6 {
    position: relative;
    margin-left: -30px;
    padding-left: 30px;
}
a.anchor {
    position: absolute;
    top: .25em;
    margin-left: -1.25em;
    font-size: .75em;
    color: #999;
}
a.anchor > .icon {
    display: none;
}
a.anchor:hover,
a.anchor:focus {
    text-decoration: none;
    outline: none;
}
h2:hover a.anchor > .icon,
h3:hover a.anchor > .icon,
h4:hover a.anchor > .icon,
h5:hover a.anchor > .icon,
h6:hover a.anchor > .icon {
    display: inline;
}
@media (max-width: 999px) {
    a.anchor {
        display: none;
    }
}

/* paragraph spacing */
p + p {
    margin-top: 1em;
}

/* navbar spacing */
.navbar {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar .navbar-brand {
    margin-right: 2px;
}
@media (max-width: 767px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

/* jumbotron */
@media (max-width: 767px) {
    .jumbotron {
        padding: 40px;
        font-size: 16px;
    }
}

/* footer */
footer, #footer {
    clear: both;
    padding-top: 80px;
    color: #999;
}
@media (max-width: 767px) {
    footer, #footer {
        padding-top: 40px;
    }
}

/* code */
pre {
    padding: 0;
}
pre code {
    padding: 10px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
}
