/* body background */
body {
    background-image: url(/img/pw_maze_white.png);
    background-color: #eee;
}

/* headers */
.page-header {
    border-bottom-color: #ccc;
}

/* brand */
.navbar .navbar-brand {
    letter-spacing: 0.1em;
}
.navbar .navbar-brand .muted {
    color: inherit;
    transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -webkit-transition: color 1s ease-in-out;
}
.navbar .navbar-brand:hover .muted {
    color: #ccc;
}

/* jumbotron */
.jumbotron {
    background-color: #ddd;
}

/* project */
.project h2,
.project h3 {
    line-height: 1em;
    margin-top: 1.4em;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.project h2 a,
.project h3 a {
    line-height: 1em;
}
@media (max-width: 767px) {
    .project h2 small {
        display: block;
        margin-top: 10px;
    }
}
.project .btn-group {
    margin-left: 10px;
}
.project .subproject {
    padding-left: 30px;
    max-width: 600px;
}
.project .subproject h3 {
    padding-right: 100px;
}
.project .subproject h3 a {
    color: #555;
}
.project .subproject .btn-group {
    margin-top: -52px;
}
